body{
    background-image: url("https://th.bing.com/th/id/OIP.1qSDtCQKo_ONlZdy9pwmzgHaGP?pid=ImgDet&w=1536&h=1294&rs=1");
}

#logout
{
   float: right;
}

#chat_pg_head
{
    background-color: darkcyan;
    height: 70px;
    width: 500px;

    border-radius: 25px;
}

#chat_pg_text
{
    padding-top: 17px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkturquoise;
}